{
  "openapi": "3.0.1",
  "info": {
    "title": "AnalyticsAssistant.ai ChatGPT API",
    "version": "1.0.0",
    "description": "Plan-aware GA4 endpoints for the ChatGPT app (isolated from the web app)."
  },
  "servers": [
    {
      "url": "https://analyticsassistant.ai",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Filters": {
        "type": "object",
        "properties": {
          "country": { "type": "string" },
          "channelGroup": { "type": "string" },
          "deviceType": { "type": "string" }
        }
      },
      "QueryRequest": {
        "type": "object",
        "required": ["propertyId", "startDate", "endDate"],
        "properties": {
          "propertyId": { "type": "string", "example": "properties/123456789" },
          "startDate": { "type": "string", "example": "2024-09-01" },
          "endDate": { "type": "string", "example": "2024-09-30" },
          "filters": { "$ref": "#/components/schemas/Filters" },
          "limit": { "type": "integer", "default": 50 }
        }
      },
      "SummariseRequest": {
        "type": "object",
        "required": ["rows", "totals", "dateRange"],
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "channel": { "type": "string" },
                "sessions": { "type": "number" },
                "users": { "type": "number" }
              }
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "sessions": { "type": "number" },
              "users": { "type": "number" }
            }
          },
          "dateRange": {
            "type": "object",
            "required": ["start", "end"],
            "properties": {
              "start": { "type": "string" },
              "end": { "type": "string" }
            }
          },
          "filters": { "$ref": "#/components/schemas/Filters" }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/chatgpt/v1/status": {
      "get": {
        "summary": "Connection & plan status",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "user": {
                      "type": "object",
                      "properties": {
                        "email": { "type": "string" },
                        "premium": { "type": "boolean" },
                        "plan": { "type": "string" }
                      }
                    },
                    "ga4": {
                      "type": "object",
                      "properties": {
                        "connected": { "type": "boolean" },
                        "expired": { "type": "boolean" }
                      }
                    },
                    "upgradeUrl": { "type": "string" },
                    "canUpgrade": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chatgpt/v1/properties": {
      "get": {
        "summary": "List GA4 properties (plan-aware limits)",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "email": { "type": "string" },
                    "properties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "displayName": { "type": "string" },
                          "propertyType": { "type": "string" },
                          "account": { "type": "string" }
                        }
                      }
                    },
                    "total": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "limited": { "type": "boolean" },
                    "upgrade": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chatgpt/v1/query": {
      "post": {
        "summary": "Run GA4 query (channels, sessions/users)",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QueryRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "rows": { "type": "array" },
                    "raw": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chatgpt/v1/summarise": {
      "post": {
        "summary": "AI summary of GA4 results",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SummariseRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "summary": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
